doctype html
html
  head
    title SFTP Browser
    link(rel="stylesheet" href="/style.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
  body
    h1 SFTP Browser

    h3  Server: #{host} - 
      a(href=`/sftp/`) Disconnect
    if message
      p= message

    form(action="/sftp/upload" method="POST" enctype="multipart/form-data")
      div
        label(for="file") Select File:
        input(type="file" name="files" required)
        input(type="hidden" name="currentDirectory" value=currentDirectory)
        input(type="hidden" name="serverId" value=serverId)
      button(type="submit") Upload File

    form(action="/sftp/create-folder", method="POST" style="display:inline")
      input(type="text", name="folderName", placeholder="New folder name")
      input#rpath(type="hidden",  name="currentPath", value=currentDirectory)
      input(type="hidden", name="serverId", value=serverId)
      button(type="submit") Create Folder
    p
    if breadcrumb
      if breadcrumb.length
        nav
          each crumb, i in breadcrumb
            a(href=`${crumb.path}`) #{crumb.name}
            if i < breadcrumb.length - 1
              |  / 
    
    h3 Folders
    if folders && folders.length
      table
        thead
          tr
            th Icon
            th Name
            th Size (KB)
            th Date Modified
            th Actions
        tbody
          each folder in folders
            tr
              td 
                i(class="fas fa-folder")
              td
                a(href=`/sftp/connect/${serverId}/${currentDirectory}/${folder.name}`) #[strong #{folder.name}]
              td -
              td -
              td
                form#delfol(action="/sftp/delete-folder" method="POST" style="display:inline")
                  input(type="hidden" name="serverId" value=serverId)
                  input(type="hidden" name="currentDirectory" value=currentDirectory)
                  input(type="hidden" name="deleteDir", value=folder.name)
                  button(type="submit") Delete Folder
          each file in files
            tr
              td 
                i(class="fas fa-file")
              td
                a(href=`/sftp/download/${serverId}/${currentDirectory}/${file.name}`) #{file.name}
              td #{file.size} KB
              td #{file.date}
              td
                form(action=`/sftp/delete-file` method="POST" style="display:inline")
                  input(type="hidden" name="fileName" value=file.name)
                  input(type="hidden" name="currentDirectory" value=currentDirectory)
                  input(type="hidden" name="serverId" value=serverId)
                  button(type="submit") Delete File
    else
      p No folders or files.

    p
      a(href=`/sftp/connect/${serverId}/`) Back to Root

    footer
      p File Manager App by James Lindstrom