doctype html
html
  head
    title SFTP Browser
    link(rel="stylesheet" href="/style.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
  body
    h1 SFTP Browser

    h3  Server: #{host} - 
      a(href=`/sftp/`) Disconnect
    if message
      p= message

    #drop-zone
      p Drag and drop your files here, or click to select files.
      input#file-input(type='file', hidden)
    script.
      const serverId  = "#{serverId}";
      const currentDirectory = "#{currentDirectory}";
      const dropZone = document.getElementById('drop-zone');
      const fileInput = document.getElementById('file-input');
      
      // Prevent default behavior for drag and drops
      ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(event => {
        dropZone.addEventListener(event, e => e.preventDefault());
      });

        // Highlight drop zone when dragging files
      ['dragenter', 'dragover'].forEach(event => {
        dropZone.addEventListener(event, () => dropZone.classList.add('highlight'));
      });

      ['dragleave', 'drop'].forEach(event => {
        dropZone.addEventListener(event, () => dropZone.classList.remove('highlight'));
      });

        // Handle drop event
      dropZone.addEventListener('drop', event => {
        const files = event.dataTransfer.files;
        uploadFile(files[0], currentDirectory);
      });

        // Handle click to open file selector
      dropZone.addEventListener('click', () => {
        fileInput.click();
      });

      fileInput.addEventListener('change', () => {
        uploadFile(fileInput.files[0], currentDirectory);
      });

        // Upload the file via AJAX
      function uploadFile(file, currentDirectory) {
        const formData = new FormData();
        formData.append('files', file);
        formData.append('currentDirectory', currentDirectory)
        formData.append('serverId', serverId)
        //formData.append('relativePath', relativePath)
        fetch('/sftp/upload', {
          method: 'POST',
          body: formData
        }).then(response => {
          if (response.ok) {
            window.location.href = `/sftp/connect/${serverId}/${currentDirectory}`
          } else {
            alert('File upload failed.');
          }
        }).catch(error => {
          alert('Error uploading file.');
        });
      }  

    p
      form(action="/sftp/create-folder", method="POST" style="display:inline")
        input(type="text", name="folderName", placeholder="New folder name")
        input#rpath(type="hidden",  name="currentPath", value=currentDirectory)
        input(type="hidden", name="serverId", value=serverId)
        button(type="submit") Create Folder
    p
    if breadcrumb
      if breadcrumb.length
        nav
          each crumb, i in breadcrumb
            a(href=`${crumb.path}`) #{crumb.name}
            if i < breadcrumb.length - 1
              |  / 
    
    if folders.length || files.length
      table
        thead
          tr
            th Icon
            th Name
            th Size (KB)
            th Date Modified
            th Actions
        tbody
          each folder in folders
            tr
              td 
                i(style="font-size: 24px;" class="fas fa-folder")
              td
                a(href=`/sftp/connect/${serverId}/${currentDirectory}/${folder.name}`) #[strong #{folder.name}]
              td -
              td -
              td
                form#delfol(action="/sftp/delete-folder" method="POST" style="display:inline")
                  input(type="hidden" name="serverId" value=serverId)
                  input(type="hidden" name="currentDirectory" value=currentDirectory)
                  input(type="hidden" name="deleteDir", value=folder.name)
                  button(type="submit") Delete Folder
          each file in files
            tr
              td 
                i(style="font-size: 24px;" class="fas fa-file")
              td
                a(href=`/sftp/download/${serverId}/${currentDirectory}/${file.name}`) #{file.name}
              td #{file.size} KB
              td #{file.date}
              td
                form(action=`/sftp/delete-file` method="POST" style="display:inline")
                  input(type="hidden" name="fileName" value=file.name)
                  input(type="hidden" name="currentDirectory" value=currentDirectory)
                  input(type="hidden" name="serverId" value=serverId)
                  button(type="submit") Delete File
    else
      p No folders or files.

    p
      a(href=`/sftp/connect/${serverId}/`) Back to Root

    footer
      p File Manager App by James Lindstrom