doctype html
html
  head
    title SFTP Browser
    link(rel="stylesheet" href="/style.css")
    script.
      document.addEventListener('DOMContentLoaded', function () {
        const servers = document.querySelectorAll('.server-status');
        
        servers.forEach((server) => {
          const serverId = server.dataset.serverId;
          
          fetch(`/sftp/server-status/${serverId}`)
            .then(response => response.json())
            .then(data => {
              if (data.status === 'online') {
                server.textContent = 'Online';
                server.style.color = 'green';  
              } else {
                server.textContent = 'Offline';
                server.style.color = 'red';    
              }
            })
            .catch(err => {
              server.textContent = 'Error';
              server.style.color = 'gray';    
            });
        });
      });
  body
    h1 SFTP Browser
    h2 
        a(href='/files/') Go To File Manager

    if message
      p= message

    h2 Add New SFTP Server
    form(action="/sftp/save-server" method="POST")
      div
        label(for="host") Host:
        input(type="text" name="host" required)
      div
        label(for="username") Username:
        input(type="text" name="username" required)
      div
        label(for="password") Password:
        input(type="password" name="password" required)
      button(type="submit") Save Server

    h2 Saved SFTP Servers
    if servers.length 
      table#sftpTable 
        thead 
          tr 
            th Server  
            th Status
            th Actions 
            th
            th
        tbody 
          each server in servers 
            tr 
              td #[strong #{server.host}]    
              td 
                span.server-status(data-server-id=server._id) ...   
              td 
                a(href=`/sftp/connect/${server._id}/`) #[strong SFTP ] 
              td
                a(href=`/sftp/console/${server._id}/`) #[strong SSH ]
              td
                form#delfol(action="/sftp/delete-server" method="POST" style="display:inline")
                  input(type="hidden" name="serverId" value=server._id)
                  button(type="submit") Delete
              
    footer
      p File Manager App by James Lindstrom